################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/Mensch_ärgere_dich_nicht/v16
/.vs/Mensch_ärgere_das_Netzwerk_nicht/v16
/Mensch_ärgere_dich_nicht/x64/Debug
/x64/Debug
boost_1_71_0/